@font-face{
    src: url(Calculator.ttf);
    font-family: Cal;
}

/* max-width means there is minimum size the window can be squished to. Mobile friendly */
.calculator-box{
    max-width: 320px;
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: Cal; /*idk why this only changes the font of the display box*/

    -webkit-touch-callout: none; /*Make user unable to highlight or drag anything on my calc*/
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
                                
}

/* the box sizing means I can write the same width as the calc box- border doesn't widen */
.display-box{
    display: inline-block;
    width: 320px;
    height: 50px;
    border: solid 2px black; 
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    overflow: scroll;
}

.current-value{
    text-align: right;
    font-size: 2.5rem;
}

.calculator-buttons{
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(5, 50px);
    grid-template-columns: repeat(4, 80px);
}

.long-button{
    grid-area: span 1 / span 2;
}
